<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Factorial</title>
    </head>
    <body>
        <h2>2.3 เขียนโปรแกรมหา index ของตัวเลขที่มีค่ามากที่สุดใน Array ด้วยภาษาpython เช่น [1,2,1,3,5,6,4] ลำดับที่มีค่ามากที่สุด คือ index = 5 โดยไม่ให้ใช้ฟังก์ชั่นที่มีอยู่แล้ว ให้ใช้แค่ลูปกับการเช็คเงื่อนไข</h2>
        <form method="post" action="/find_index/">{% csrf_token %}
            <table>
                    <tr>
                        <td>All Array : </td>
                        <td>{{all_array}}</td>
                    </tr>
                    <tr>
                        <td>Max Index : </td>
                        <td>{{max_index}}</td>
                    </tr>
                    <tr>
                        <td><button onclick="returnText()">คำนวณอีกครั้ง</button></td>
                    </tr>
            </table>

        </form>
    </body>
</html>